

:root {
    --white: #fff;
    --black: #111827;
    /* #383B50 */
    --bodyBg: #383B50;
    --dark: #212630;
    --green: #009039;
    --blue: #FF0766;
    --red: crimson;
    --facebook: #3b5998;
    --instagram: #f14843;
    --discord: #404EED;
    --youtube: #f00;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
}

body {
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
    /* background-color: var(--bodyBg); */
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

.container {
    max-width: 1326px;
    margin-left: auto;
    margin-right: auto;
}

textarea {
    font-family: 'Mulish', sans-serif;
}


::-webkit-scrollbar {
    width: 10px;
}


::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.header_first_container {
    background-color: var(--blue);
    height: 5vh;
    /* z-index: 99 !important; */
}

.header_first_container ul {
    display: flex;
    gap: 5px;
    /* justify-content: flex-end; */
}
.header_first_container ul li{

}
.header_first_container ul li a {
    font-size: 1rem;
    color: var(--white);
    /* padding: 5px 0; */
    display: block;
}

.header_first_list_container ul:nth-child(2) li a {
    font-size: 1.4rem;
    display: flex;
    background: #fff;
   width: 20px;
   height: 20px;
    /* margin: 10px 0; */
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /* box-shadow: 6px 6px 10px -1px rgba(0, 124, 196, 0.15),
        -6px -6px 10px -1px rgba(255, 255, 255, 0.7); */
    /* border: 1px solid rgba(0, 124, 196, 0); */
    transition: transform 0.5s;
    color: var(--black);
}

.header_first_list_container ul:nth-child(2) {
    gap: 20px;
}

.header_first_list_container ul:nth-child(2) li a:hover {
    box-shadow: inset 4px 4px 6px -2px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px -1px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 124, 196, 0.1);
    transform: translateY(2px);
}

.header_first_list_container ul:nth-child(2) li a:hover .header_social_icon {
    transform: scale(0.90);
}

.header_first_list_container ul:nth-child(2) li a:hover .header_social_facebook_icon {
    color: var(--facebook);
}

.header_first_list_container ul:nth-child(2) li a:hover .header_social_discord_icon {
    color: var(--discord);
}

.header_first_list_container ul:nth-child(2) li a:hover .header_social_instagram_icon{
    color: var(--instagram);
}

.header_first_list_container ul:nth-child(2) li a:hover .header_social_youtube_icon {
    color: var(--youtube);
}

.header_first_list_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

}

.logo {
    width: 180px;
}

.header_second_container {
    /* background-color: var(--blue); */
    /* margin-top: 2px;
    margin-bottom: 2px; */
    background-color: var(--black);
    height: 10vh;
    /* z-index: 99 !important; */
    /* background-color: lime; */
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.header_second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* padding: 10px 0; */
    height: 100%;
}
.announce_lang_container{
    display: flex;
    align-items: center;
    gap: 10px;
}
.language_select_container {
    position: relative;
    display: inline-block;
    /* width: 150px; Adjust the width as needed */
  }
  
  .selected_language {
    cursor: pointer;
    display: flex;
    align-items: center;
    padding: 4px;
    /* border: 1px solid #ccc; */
    background-color: var(--white);
    border-radius: 4px;
  }
  
  .selected_language img {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    /* margin-right: 8px; Add space between image and text */
  }
  
  .language_options {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%; /* Match the width of the selected item */
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
    margin-top: 4px; /* Space between selected item and dropdown */
  }
  
  .language_options div {
    padding: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  
  .language_options div:hover {
    background-color: #f1f1f1;
  }
  
  .language_options img {
    width: 24px; /* Adjust the size as needed */
    height: 24px; /* Adjust the size as needed */
    /* margin-right: 8px; Add space between image and text */
  }
  
  
.header_second_inp_container {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 5px 10px;
    border-radius: 6px;
    width: 500px;
}

.header_second_inp_container input {
    background: none;
    border: none;
    outline: none;
    width: 92%;
    font-weight: 600;
    color: var(--black);
}

.header_second_search {
    color: var(--black);
    font-size: 2rem;
    cursor: pointer;
}
.add_announce_btn{
    border-radius: 20px;
    padding: 4px 8px;
    outline: none;
    display: flex;
    gap: 3px;
    color: var(--white);
    align-items: center;
    justify-content: center;
    background-color: var(--discord);
    border: 2px solid var(--discord);
    transition: 0.6s ease-in-out;
}
.add_announce_btn:hover{
    background: var(--white);
    color: var(--dark);
}
.header_seconds_buttons {
    display: flex;
    align-items: center;
    gap: 10px;
    height: 100%;
}

.header_seconds_buttons button {
    border-radius: 6px;
    padding: 8px;
    outline: none;
    display: flex;
    gap: 3px;
    color: var(--white);

    
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 9px rgba(69, 69, 69, 0.23);
    /* border: 1px solid rgba(0, 124, 196, 0); */
    transition: transform 0.5s;
}

.header_seconds_buttons button:nth-child(1) {
    /* background-color: var(--green); */
    border: 1px solid var(--green);
    transition: 0.5s ease-in-out;
    background: none;
}

.header_seconds_buttons button:nth-child(1):hover {
    background: var(--white);
    color: var(--green);
}

.header_seconds_buttons button:nth-child(2) {
    /* background-color: var(--blue); */
    border: 1px solid var(--blue);
    transition: 0.5s ease-in-out;
    background: none;
}

.header_seconds_buttons button:nth-child(3) {
    /* background-color: var(--blue); */
    border: 1px solid var(--blue);
    transition: 0.5s ease-in-out;
    background: none;
}


.header_seconds_buttons button:nth-child(2):hover {
    background: var(--white);
    color: var(--blue);

}
.header_seconds_buttons button:nth-child(3):hover {
    background: var(--white);
    color: var(--blue);

}
.header_seconds_buttons button:hover{
    box-shadow: inset 4px 4px 6px -2px rgba(0, 0, 0, 0.2),
        inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
        -0.5px -0.5px 0px -1px rgba(255, 255, 255, 1),
        0.5px 0.5px 0px rgba(0, 0, 0, 0.15),
        0px 12px 10px -10px rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 124, 196, 0.1);
    transform: translateY(2px);
}
.bars_icon{
    color: var(--white);
    font-size: 2.2rem;
    display: none;
}
.profile_img{
    width: 50px;
    height: 50px;
    border: 2px solid var(--blue);
    /* padding: 5px; */
    border-radius: 50%;
    cursor: pointer;
}
.profile_img img{
    width: 100%;
    border-radius: 50%;
}
.profile_buttons{
    position: relative;
}
.profile_details{
    background-color: var(--black);
    position: absolute;
    z-index: 999999;
    top: -600px;
    width: 200px;
    border-radius: 8px;
    padding: 5px;
}
.profile_details_user{
    background-color: var(--bodyBg);
    color: var(--white);
    border-radius: 8px;
    padding: 4px;
    margin-bottom: 5px;
    text-align: center;
}
.profile_details_user h4{
    font-weight: 600;
}
.profile_details_user p{
    font-size: 1.2rem;
}
.profile_details_buttons{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.profile_details_buttons li{
    background-color: var(--bodyBg);
    color: var(--white);
    border-radius: 8px;
    padding: 4px;
    cursor: pointer;
    transition: .3s ease-in-out;
}
.profile_details_buttons li:hover{
    background-color: var(--blue);
}

.profile_details_active{
    top: 60px;
}
.header_seconds_first_element{
    display: flex;
    color: var(--white);
    align-items: center;
    gap: 10px;
    border: 1px solid var(--bodyBg);
    border-radius: 6px;
    padding: 8px;
}
.header_seconds_first_element p{
    /* curs */
}

.header_seconds_first_element_chat{
    font-size: 1.8rem;
    cursor: pointer;
}
.header_seconds_first_element_notification{
    font-size: 1.8rem;
    cursor: pointer;
}
.cart_shop_icon {
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
}
.header_third{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.header_third_container {
    display: flex;
    /* justify-content: space-between; */
    gap: 50px;

}

.header_third_container li a {
    /* background-color: var(--dark); */
    color: var(--white);
    display: flex;
    /* width: 128px;
    height: 30px; */
    font-size: 1.3rem;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    transition: 0.5s ease-in-out;


}

.header_third_container li:first-child a {
    border-radius: 0 0 0 6px;
}

.header_third_container li:last-child a {
    border-radius: 0 0 6px 0;
}

.header_third_container li a:hover {
    /* background-color: var(--white); */
    color: var(--blue);

}

.header_nav {
    background-color: var(--black);
    /* padding: 10px 0; */
    height: 10vh;
    /* z-index: 99 !important; */
}
.header_fourth_first_container{
    background-color: var(--black);
    height: 12vh;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    margin-bottom: 10px;
    overflow-x: auto !important;
}

.header_fourth_first {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-top: 15px;
    margin-bottom: 15px; */
    height: 100%;
    width: 100%;
    gap: 10px;
    
}

.header_fourth_first a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 71px;
    height: 45px;
   
    border-radius: 6px;
    transition: 0.5s ease-in-out;
    /* flex: 0 0 auto; 
    scroll-snap-align: start; */
}

.header_fourth_first img {
    /* width: 44px;
    height: 31px; */
    /* object-fit: cover; */
    width: 100%;
    height: 100%;
}

/* .header_fourth_first a:first-child {
    border-radius: 6px 0 0 6px;
}

.header_fourth_first a:last-child {
    border-radius: 0 6px 6px 0;
} */

.header_fourth_first a:hover {
    background-color: var(--blue);
}

.header_fifth_container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    /* background-color: lime; */
    width: 100%;
    height: 60vh;
    
}


.header_slider_cards_container{
    /* background-color: blue; */
    /* width: 85%; */
    max-width: 85%;
    height: 100% ;
    /* height: 60vh; */
    border-radius: 15px;
}
.header_slider_cards_container img{
    height: 100%;
    border-radius: 15px;
    width: 100%;
    /* object-fit: cover; */
}
.header_fifth_right_container{
    display: flex;
    flex-direction: column;
    min-width: 200px;
    /* background-color: red; */
    justify-content: space-between;
}
.header_fifth_right_container a{
    height: 49%;
    width: 100%;
    display: block;
}
.header_fifth_right_container a img {
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
.swiper-button-prev,
.swiper-button-next {
    color: var(--white);
}

.swiper-button-prev::after,
.swiper-button-next::after {
    font-size: 3rem;
}



/* App.css */

.header_live_support {
    max-width: 400px;
    padding: 20px;
    background-color: var(--dark);
    border-radius: 15px;
    position: fixed;
    right: -400px;
    bottom: 20px;
    z-index: 9999;
  }
  .header_live_support.show{
    right: 30px;
  }
  
  .header_live_support h3 {
    text-align: center;
    color: var(--white);
    margin-bottom: 20px;
  }
  .close_icon{
    color: var(--white);
    font-size: 2rem;
    cursor: pointer;
  }
  /* ChatWindow.css */
  
  .chat_window {
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
  }
  
  /* MessageList.css */
  
  .message_list {
    padding: 10px;
  }
  
  .message {
    background-color: #f2f2f2;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
  }
  
  /* MessageInput.css */
  
  .message_input {
    display: flex;
    margin-top: 10px;
    
  }
  
  .message_input input {
    flex: 1;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1.6rem;
    outline: none;
  }
  
  .header_live_support_container button {
    background-color: var(--facebook);
    color: var(--white);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    margin-left: 10px;
    cursor: pointer;
  }
  
  .header_live_support_container button:hover {
    background-color: var(--discord);
  }
  .live_support_btn{
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 999;
  }

/* main start */
main{
    background-color: var(--white);
    padding-top: 30px;
    padding-bottom: 30px;
}
.main_first_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
    gap: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
}

.main_first_card {
    min-width: 277px;
    border-radius: 6px;

}

.main_first_card img {
    width: 100%;
    border-radius: 6px;
}

.main_second_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    gap: 12px;
}

.main_second_card {
    min-width: 185px;
    border-radius: 10px;
    background-color: var(--dark);
    box-shadow: 0 0 9px rgba(69, 69, 69, 0.23);
    padding-bottom: 10px;
}


.main_second_card_up {
    position: relative;
    height: 180px;
    overflow: hidden;
}

.main_second_card_up img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.main_second_card_up_hover {
    position: absolute;
    top: -200px;
    left: 0;
    background-color: rgba(33, 38, 48, 0.8);

    /* z-index: 999; */
    width: 100%;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.1s ease-in-out;
}

.main_second_card_up_main {
    height: 100%;

}

.main_second_card_up_hover button {
    padding: 4px 15px;
    border-radius: 6px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
}

.main_second_card_up_main_paragraph_first {
    position: absolute;
    top: 0;
    left: 0;
    color: var(--black);
    background-color: var(--white);
    border-radius: 0 6px 6px 0;
    z-index: 99;
    font-size: 1.2rem;
    padding: 4px;
    font-weight: 500;
}

.main_second_card_up_main_paragraph_second {
    position: absolute;
    bottom: 0;
    right: 0;
    color: var(--black);
    background-color: var(--white);
    border-radius: 6px 0 0 6px;
    z-index: 99;
    font-size: 1.2rem;
    padding: 4px;
    font-weight: 500;
}

.main_second_card:hover .main_second_card_up_hover {
    top: 0;
}

.main_second_card_down p {
    font-size: 1.2rem;
    color: var(--white);
    text-align: center;
    margin-top: 10px;
}

.main_second_card_down_footer {
    display: flex;
    justify-content: space-between;
    max-width: 90%;
    margin: 10px auto 0;
}

.main_second_card_down_footer span {
    color: var(--white);
}

.main_second_card_down_footer_check_icon {
    color: var(--blue);
    font-size: 2rem;
}

.section_header {
    text-align: center;
    color: var(--black);
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 2.6rem;
    font-family: 'Mulish', sans-serif;
    font-weight: 800;
}

.auction_section_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    gap: 12px;
}

.auction_section_card {
    min-width: 185px;
    border-radius: 10px;
    background-color: var(--dark);
    box-shadow: 0 0 9px rgba(69, 69, 69, 0.23);
    padding-bottom: 10px;
}

.auction_section_card img {
    width: 100%;
    height: 130px;
    border-radius: 10px;
}

.auction_section_card_up {
    position: relative;
    height: 100%;
    overflow: hidden;
}

.auction_section_card_up_hover {
    position: absolute;
    top: -200px;
    left: 0;
    background-color: rgba(33, 38, 48, 0.8);
    width: 100%;
    height: 130px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    transition: 0.1s ease-in-out;

}

.auction_section_card_up_hover button {
    padding: 4px 15px;
    border-radius: 6px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
}

.auction_section_card:hover .auction_section_card_up_hover {
    top: 0;
}

.auction_section_card_down .auction_section_card_down_time {
    background-color: var(--white);
    color: var(--black);
    text-align: center;
    border-radius: 6px;
    padding: 3px 0;
    font-size: 1.4rem;
    margin-bottom: 10px;
}

.auction_section_card_down p {
    color: var(--white);
    font-size: 1.2rem;

}

.auction_section_card_down {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.auction_section_card_down_prices {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.auction_section_card_down_prices del {
    color: var(--red);
    font-size: 1.2rem;
}

.auction_section_card_down button {
    background-color: var(--green);
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 6px;
    width: 100%;
    padding: 5px 0;
    font-size: 1.4rem;
    margin-top: 10px;
}

.view_all {
    background: none;
    margin-left: auto;
    display: block;
    border: none;
    outline: none;
    color: var(--black);
    font-size: 1.5rem;
    margin-top: 10px;
}

.news_section_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
    gap: 20px;
}

.news_section_card {
    min-width: 277px;
}

.news_section_card h3 {
    font-size: 1.3rem;
    color: var(--white);
    margin-bottom: 7px;
}

.news_section_card h4 {
    font-size: 1rem;
    color: var(--white);
    margin-bottom: 7px;
    margin-top: 7px;
}

.player_market_section_card {
    background-color: var(--white);
    width: 100%;
    height: 100px;
    overflow-y: auto;
    border-radius: 8px;
    padding: 12px;
    font-size: 1.4rem;
}

.player_market_section_container {
    margin-bottom: 30px;
}

.footer_first_container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(277px, 1fr));
    gap: 20px;
    /* border-bottom: 1px solid rgba(69, 69, 69, 0.23); */
    padding-bottom: 30px;
}

.footer_first_card {
    min-width: 277px;
    display: flex;
    align-items: center;
    gap: 10px;

}

.footer_first_icon {
    color: var(--white);
    font-size: 15rem;
}

.footer_parent_container {
    background-color: var(--black) !important;
    padding: 40px;
    background: url('../images/page-header-bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    width: 100%;
}

.footer_first_card h5 {
    color: var(--white);
    font-weight: 600;
}

.footer_first_card p {
    color: var(--white);
    font-size: 1.4rem;
    margin-top: 5px;
}

.footer_second_inner_container {
    max-width: 970px;
    display: flex;
    /* display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 1fr)); */
    /* gap: 30px; */
    justify-content: space-between;
}

.footer_second_card {
    min-width: 170px;
}

.footer_second_logo_card {
    min-width: 170px;
}

.footer_second_container {
    display: flex;
    gap: 30px;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    border-top: 1px solid rgba(69, 69, 69, 0.23);
    border-bottom: 1px solid rgba(69, 69, 69, 0.23);
    margin-bottom: 30px;
}

.footer_second_card h5 {
    color: var(--white);
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.footer_second_card ul li:before {
    content: '✓';
    color: var(--green);
}

.footer_second_card ul li a {
    color: var(--white);
    font-size: 1.4rem;
    padding-left: 4px;
}

.footer_third_container {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;

}

.footer_third_left_card button {
    background: none;
    border: 1px solid var(--white);
    border-radius: 6px;
    padding: 10px 18px;
    color: var(--white);
}

.footer_third_left_card a {
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 1.6rem;
    margin-top: 20px;
}

.footer_third_right_card h6 {
    color: var(--white);
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 15px;
    text-align: center;
}

.footer_third_right_card ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer_third_right_card ul li a {
    color: var(--white);
    font-size: 2rem;
}

.footer_end_container {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer_end_container p {
    text-align: center;
    color: var(--black);
    font-size: 1.2rem;
    font-weight: 500;

}


/* other pages */

.other_header_pages_link{
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    justify-content: center;
    padding-top: 8px;
    padding-bottom: 8px;
}
.other_header_pages_link p{
    color: var(--blue);
    padding: 3px;
    border-radius: 5px;
    font-weight: 500;
}
.other_header_pages_link a{
    color: var(--bodyBg);
}

.other_header_main_container {
    height: 40vh;



}


.other_bg_shadow {
    background-color: rgba(0, 0, 0, 0.3);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.other_header_title{
    color: var(--white);
}

.other_games_input{
    display: flex;
    justify-content: center;
    margin-top: 30px;
   
}
.other_games_input input{
    border: none;
    outline: none;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 9px rgba(69, 69, 69, 0.23);
    padding: 6px 12px;
    width: 30%;
    font-size: 1.6rem;
}
.other_games_cards_container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(185px, 1fr));
    gap: 12px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.other_games_card{
    min-width: 185px;
    border-radius: 10px;
    /* background-color: var(--dark); */
    /* box-shadow: 0 0 9px rgba(69, 69, 69, 0.23); */
    /* padding-bottom: 10px; */
    position: relative;
    overflow: hidden;
}
.other_games_card img{
    width: 100%;
    border-radius: 10px;
    height: 100%;
}
.other_games_card h2{
    position: absolute;
    bottom: 20px;
    font-size: 1.4rem;
    color: var(--white);
    text-align: center;
    font-weight: 400;
    width: 100%;
}

.player_market_filter_container{
    max-width: 300px;
    background-color: var(--dark);
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
}
.player_market_filter_inp_checkbox_container{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 6px;
}

.player_market_filter_search_inp{
    border: none;
    outline: none;
    background-color: var(--white);
    border-radius: 8px;
    box-shadow: 0 0 9px rgba(69, 69, 69, 0.23);
    padding: 6px 12px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.6rem;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.player_market_filter_container h3{
    text-align: center;
    color: var(--white);
    font-weight: 500;
    margin-top: 10px;
    
}

.player_market_filter_inp_checkbox_parent_container{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    overflow-y: auto;
    margin-bottom: 10px;
}
.player_market_filter_inp_checkbox_parent_end_container{
    height: auto;
    margin-top: 10px;

}
.player_market_filter_inp_checkbox_container p{
    color: var(--white);
}
.player_market_filter_inp_checkbox_container input{
    background: transparent;
}

.player_market_filter_much_many_price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    padding-bottom: 10px;
}
.player_market_filter_much_many_price input{
    width: 40%;
    border: none;
    border-radius: 6px;
    padding: 5px;
    outline: none;

}
.player_market_filter_inner_container:not(:last-child){
    border-bottom: 1px solid var(--bodyBg);
}
.player_market_filter_container button{
    border-radius: 6px;
    padding: 8px;
    outline: none;
    color: var(--white);
    background-color: var(--green);
    box-shadow: 0 0 9px rgba(69, 69, 69, 0.23);
    transition: transform 0.5s;
    border: 1px solid var(--green);
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: all .5s ease-in-out;
}

.player_market_filter_container button:hover{
    background: transparent;
}








.news_slider_card_container {
    /* background-color: red; */
    /* min-height: 350px; */
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
}

.news_slider_card {
    border-radius: 6px;
    transition: 0.5s;
    /* background-color: rgba(255, 255, 255, 0.3); */
    /* height: 300px; */
    /* border: 1px solid #eee; */
    /* z-index: 999 !important; */
    position: relative;
    overflow: hidden;
    /* min-width: 277px; */


}

.player_market_section_first_container{
    display: flex;
    gap: 30px;
}

.player_market_filter_cards_container{
    max-width: 996px;
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(234px,1fr));
    gap: 20px;

}
.player_market_filter_card{
    min-width: 234px;
    border-radius: 10px;
    background-color: var(--dark);
    box-shadow: 0 0 9px rgba(69, 69, 69, 0.23);
    padding-bottom: 10px;
    
}

.player_market_filter_card:hover .main_second_card_up_hover {
    top: 0;
}

.detail_page_section_first_container{
    background-color: var(--black);
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(442px,1fr));
    border-radius: 8px;
}
.detail_page_section_first_card{
    min-width: 442px;
}
.detail_page_section_first_img{
    border-left: 1px solid var(--bodyBg);
    border-right: 1px solid var(--bodyBg);
}
.detail_page_section_first_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px 0 0 8px;
}
.detail_page_section_first_content{
    padding-top: 10px;
    padding-left: 10px;
}
.detail_page_section_first_content p{
    color: var(--white);
    font-size: 1.2rem;
    margin-bottom: 10px;
}

.detail_page_section_first_content h3{
    margin-bottom: 10px;
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;
}
.detail_page_section_first_content p:nth-child(3){
    text-transform: capitalize;
    line-height: 20px;
}
.detail_page_section_first_content_buttons{
    display: flex;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
}
.detail_page_section_first_content_buttons button{
    padding: 4px 15px;
    border-radius: 6px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    display: flex;
    align-items: center;
    gap: 3px;
}
.detail_page_section_first_content_two{
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
}
.detail_page_section_first_content_two h4{
    color: var(--white);
    margin-bottom: 20px;
    text-align: center;
    background-color: var(--bodyBg);
    padding: 5px 0;
}
.detail_page_section_first_content_two img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
.detail_page_section_first_content_two p{
    color: var(--white) ;
}

.detail_page_section_first_content_two_footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
}
.detail_page_section_first_content_two_footer div{
    color: var(--white);
    font-size: 1.4rem;
}
.detail_page_section_first_content_two_header{
    padding-left: 10px;
}

.detail_page_section_first_content_two_header h5{
    color: var(--green);
    /* text-align: center; */
    margin-bottom: 10px;
}

.detail_page_section_first_content_two_header_inner{
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
    align-items: center;
   
}
.detail_page_section_first_content_two_header_inner_content div{
    display: flex;
    gap: 10px;
}

.detail_page_section_first_content_two_header button{
    padding: 5px 15px;
    border-radius: 6px;
    border: none;
    background-color: var(--blue);
    color: var(--white);
    display: block;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    gap: 3px;
}

.detail_page_section_first_content_two_chat_sms{
    display: flex;
    margin-top: 10px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    
}
.detail_page_section_first_content_two_chat_sms button{
    width: 45%;
}

.add_to_basket{
    border-radius: 6px;
    padding: 8px;
    outline: none;
    color: var(--white);
    background-color: var(--green);
    box-shadow: 0 0 9px rgba(69, 69, 69, 0.23);
    transition: transform 0.5s;
    border: 1px solid var(--green);
    display: flex;
    align-items: center;
    gap: 3px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    transition: all .5s ease-in-out;
    margin-bottom: 10px;
}
.add_to_basket:hover{
    background: transparent;
}

.login_container input{
    font-size: 1.6rem;
    outline: none;
}
.login_container label{
    font-size: 1.5rem;
}

.login_container h2{
    font-size: 2.4rem;
    text-align: center;
}
.login_container span{
    font-size: 1.3rem !important;
}

.close_form{
    display: flex;
    justify-content: flex-end;
    font-size: 3rem;
}
.close_form .close_form_icon{
    cursor: pointer;
}

.login_container p{
    font-size: 1.2rem;
}

















